@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Eczar:wght@400..800&family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --maincolor: #f0f0d7;
  --fonttext: #727d73;
  --footercolor: #bebea3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: var(--maincolor);
  font-family: "Helvetica", sans-serif;
  color: var(--fonttext);
}

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  border-bottom: 2.5px solid var(--fonttext);
}

.header_1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--maincolor);
  position: relative;
}

.header_1 .logo {
  width: 3rem;
  height: 3rem;
}

.nav {
  width: 100%;
}

.ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  background-color: var(--maincolor);
}

.ul li {
  padding: 1rem;
  background-color: var(--maincolor);
}

li a {
  text-decoration: none;
  padding-right: 60vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--fonttext);
}

.register {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.account {
  padding: 0.9rem;
  border-radius: 10px;
  border: none;
  width: 100vw 0;
  background-color: var(--fonttext);
  color: var(--maincolor);
  text-align: center;
}

.account:hover {
  animation: 1s;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  position: absolute;
  right: 1%;
  top: 1px;
  z-index: 10;
}

.hamburger span {
  display: none;
  position: absolute;
  height: 3px;
  width: 80%;
  background-color: var(--fonttext);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  top: 9px;
}
.hamburger span:nth-child(3) {
  top: 18px;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px;
}

button:hover {
  cursor: pointer;
}

.header_2 {
  width: 100vw;
  height: 100%;
  background-color: var(--maincolor);
  padding-top: 0.5rem;
}

.header_2 nav {
  padding-bottom: 5px;
}

.nav_2 form {
  display: flex;
  padding: 0 1rem;
}

.category {
  padding: 0.5rem 1rem;
}

select option {
  appearance: none;
  background-color: var(--maincolor);
}

form input {
  border-left: none;
  width: 100%;
  height: 4vh;
  border-radius: 5px;
  border: 1.5px solid var(--fonttext);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  padding: 1.3rem;
  background-color: var(--maincolor);
}

input[type="search"]:focus {
  outline: none;
  box-shadow: none;
  border: 1.5px solid var(--fonttext);
  border-left: none;
  padding-left: 10px;
}

.header_2 ul {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

form button {
  border: none;
}

select {
  border: none;
  background-color: var(--basiccolor);
}

.header_2 .ul {
  display: flex;
  justify-content: center;
}

.auth-buttons {
  width: 150px;
  border: solid 1.5px black;
  border-radius: 15px;
}

.auth-buttons a {
  margin: 0.5rem;
  text-decoration: none;
  color: var(--fonttext);
}

.nav_2 a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--fonttext);
}

/* CONTAINER 1 */

.container1 {
  width: 100%;
  padding-top: 120px;
}

.container1 img {
  width: 100%;
  height: 100%;
  filter: brightness(45%);
  z-index: -1;
  position: relative;
}

.invitation_sentence {
  position: absolute;
  top: 170px;
  z-index: -1;
}

.invitation_sentence h1 {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  font-size: 8vw;
}

/* CONTAINER 1 END */

/* CONTAINER 2 */
.container2 {
  width: 100%;
  height: 100%;

  padding: 1rem 1rem;
}

.container2_1 {
  background-color: var(--fonttext);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.creator {
  position: relative;
  /* background-color: red; */
}

.creator1 {
  position: absolute;
  left: 36%;
  top: 5%;
  width: 30%;
  transform: scaleX(-1);
}
.creator2 {
  width: 100%;
  left: 0;
}

.education {
  /* background-color: rebeccapurple; */
  width: 100%;
  padding: 1rem;
}

.education h1 {
  color: var(--maincolor);
  font-size: 25px;
}

.education p {
  color: var(--maincolor);
  font-size: 20px;
  padding-left: 2rem;
  padding-top: 0.5rem;
}
/* CONTAINER 2 END */

/* CONTAINER 3 */
.container3 {
  width: 100%;
  height: 100%;
}

.container3_1 {
  padding: 0 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container3_1 h1 {
  color: var(--fonttext);
  font-size: 20px;
}
.container3_1 a {
  text-decoration: none;
  color: var(--fonttext);
}

.container3_2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.shirtcard {
  width: 100%;
  height: 100%;
}

.shirtcard img {
  width: 100%;
  border-radius: 15px;
}

.shirtcard button {
  background-color: var(--maincolor);
  font-weight: 900;
}

.groupdescrateclothes {
  display: flex;
  justify-content: space-between;
}

.love-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-left: 2px;
}

.love-rating input {
  display: none;
}

.love-rating label {
  cursor: pointer;
  font-size: 1em;
  color: #c6c6c6;
  transition: color 0.2s;
  margin-right: 5px;
  text-shadow: 1px 1px 0 #8b8b8b;
}

.love-rating label:before {
  content: "❤︎";
}

.love-rating input:checked ~ label {
  color: #ff1500;
}

.love-rating label:hover,
.love-rating label:hover ~ label {
  color: #808080;
}

.shirtcard button {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--fonttext);
  color: var(--fonttext);
  margin-top: 5px;
  cursor: pointer;
}

.shirtcard button:hover {
  background-color: rgb(223, 223, 223);
}

.clothingbrand,
.shirtprice {
  font-weight: 600;
  font-size: 12px;
}

.shirtsize {
  font-size: 12px;
}

.exchange-container {
  background-color: var(--fonttext);
  padding: 4rem 1rem;
  position: relative;
  overflow: hidden;
}

.badge {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  position: absolute;
  top: 15%;
}

.title {
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: px;
  z-index: 2;
  position: absolute;
  top: 30%;
}

.exchange-button {
  display: inline-block;
  color: var(--maincolor);
  background-color: var(--fonttext);
  border: 1.5px solid white;
  border-radius: 7px;
  padding: 6px 25px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2rem;
  position: absolute;
  z-index: 3;
  top: 40%;
}

.background-decoration1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 55vw;
  height: 186px;
  background-color: #bebea3;
  border-radius: 100px;
  transform: translate(30%, -10%);
  z-index: 1;
}
.background-decoration2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 184px;
  background-color: #d0d0bb;
  border-radius: 100px;
  transform: translate(50%, -10%);
  z-index: 1;
}
.background-decoration3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 65vw;
  height: 188px;
  background-color: #f0f0d7;
  border-radius: 100px;
  transform: translate(70%, -10%);
  z-index: 1;
}
/* CONTAINER 3 END */

/* CONTAINER 4 */
.container4 {
  width: 100%;
  height: 100%;
}

.container4_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
}

.container4_1 h1 {
  color: var(--fonttext);
  font-size: 20px;
}
.container4_1 a {
  text-decoration: none;
  color: var(--fonttext);
}

.container4_2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;
}
/* CONTAINER 4 END*/

/* CONTAINER 5 */
.container5 {
  width: 100%;
  height: 100%;
}

.container5_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.container5_1 a {
  text-decoration: none;
  color: var(--fonttext);
}

.container5_2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.shopprofile {
  display: flex;
  align-items: center;
}

.shopprofile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.nameprofile {
}

.nameprofile h1 {
  font-size: 17px;
  font-weight: 600;
  color: var(--fonttext);
  padding-top: 1.5rem;
  margin-left: 4px;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-left: 2px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  cursor: pointer;
  font-size: 1em;
  color: #ddd;
  transition: color 0.2s;
  margin-right: 5px;
  text-shadow: 1px 1px 0 #000000;
}

.star-rating label:before {
  content: "★";
}

.star-rating input:checked ~ label {
  color: #ffd700;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffed85;
}

/* CONTAINER 5 END */

/* CONTAINER 6 */
.container6 {
  width: 100%;
  height: 100%;
}

.container6_1 {
  padding: 1rem;
  width: 100%;
}

.container6_1 h1 {
  font-size: 20px;
}

.container6_2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 0 1rem 1rem;
  position: relative;
  z-index: 1;
}
/* CONTAINER 6 END */

/* CONTAINER 7 */
.container7 {
  width: 100%;
  height: 100%;
  background-color: var(--footercolor);
  position: relative;
}

.container7 img {
  width: 100%;
  filter: brightness(60%);
}

.container7 .closing {
  position: absolute;
  top: 0;
}

.closing {
  padding: 1rem 1rem;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.closing h1 {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 3vw;
  color: var(--maincolor);
}
/* CONTAINER 7 END */

footer {
  width: 100%;
  height: 100%;
  background-color: var(--footercolor);
  position: relative;
  z-index: 1;
}

.footer1 {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footer1_1 {
  display: flex;
  flex-direction: column;
}

.footer1_1 h1,
.footer1_2 h1 {
  margin: 0.5rem;
  font-size: 25px;
}

.footer1_1 a,
.footer1_2 a {
  font-size: 18px;
  text-decoration: none;
  color: var(--fonttext);
  margin: 0.5rem;
}

.linefooter {
  width: 97%;
  height: 1.4px;
  background-color: var(--fonttext);
  margin: 0 auto;
}

.footer1_2 {
  padding: 1rem;
}

.footer1_2 img {
  width: 1.5rem;
  padding: 0.5rem 0;
}

.copyright {
  padding: 0.7rem;
  font-size: 12px;
  background-color: var(--fonttext);
  text-align: center;
  color: var(--maincolor);
}

/* FOOTER END */

/* SIGN PAGE */
.signpage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}
.signpagelayer {
  height: 100%;
  max-height: 540px;
  display: none;
  text-align: center;
  border-radius: 10px;
  padding: 10px 1rem 1.8rem;
  margin-top: 1.5rem;
  background-color: #eaeaea;
  overflow: scroll;
}
.btnclose {
  display: flex;
  justify-content: end;
}
.signpagelayer input {
  border-radius: 3px;
  border: none;
  box-shadow: 2px 3px 2px #00000030;
  padding: 0.5rem 2rem;
  width: 18rem;
  margin: 0.3rem 0;
}
.signup {
  background-color: #007bff;
  color: #ffffff;
}
.signpagelayer button {
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem 3rem 0.8rem;
  width: 18rem;
  margin: 0.3rem 0;
  display: flex;
  justify-content: center;
  gap: 3px;
}
.signpagelayer p {
  font-size: 15px;
  text-align: center;
  color: #000000;
}
.signpagelayer img {
  width: 20px;
}
/* SIGN PAGE END */

/* LOGIN PAGE */
.loginpage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}
.loginpagelayer {
  height: 100%;
  max-height: 450px;
  display: none;
  text-align: center;
  border-radius: 10px;
  padding: 10px 1rem 5rem;
  margin-top: 4.5rem;
  background-color: #eaeaea;
  overflow: scroll;
}
.btnclose {
  display: flex;
  justify-content: end;
}
.loginpagelayer input {
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 0 #00000030;
  padding: 0.5rem 2rem;
  width: 18rem;
  margin: 0.3rem 0;
}
.login {
  background-color: #007bff;
  color: #ffffff;
}
.loginpagelayer button {
  border-radius: 5px;
  border: 0.7px solid black;
  padding: 1rem 3rem 0.8rem;
  width: 18rem;
  margin: 0.3rem 0;
  display: flex;
  justify-content: center;
  gap: 3px;
}
.loginpagelayer p {
  text-align: center;
  color: #000000;
}
.loginpagelayer img {
  width: 20px;
}
/* LOGIN PAGE END */

/* RESPONSIVE*/
@media (min-width: 300px) {
  .hamburger {
    right: 1%;
  }
}
@media (min-width: 320px) {
  .hamburger {
    right: 1%;
  }

  .invitation_sentence h1 {
    font-size: 20px;
  }
}
@media (min-width: 330px) {
  .hamburger {
    right: 1%;
  }
}
@media (min-width: 340px) {
  .hamburger {
    right: 1%;
  }
}
@media (min-width: 350px) {
  .hamburger {
    right: 1%;
  }
}
@media (min-width: 360px) {
  .hamburger {
    right: 1%;
  }
  .invitation_sentence h1 {
    font-size: 25px;
  }
}
@media (min-width: 370px) {
  .hamburger {
    right: 1%;
  }
  .invitation_sentence h1 {
    font-size: 28px;
  }
}
@media (min-width: 400px) {
  .hamburger {
    right: 1%;
  }
  .invitation_sentence h1 {
    font-size: 28px;
  }
}
@media (min-width: 500px) {
  .invitation_sentence h1 {
    font-size: 35px;
  }
}
@media (min-width: 768px) {
  .container1 {
    display: block;
    justify-content: center;
    align-items: center;
  }
  li a {
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  .invitation_sentence {
    padding-top: 2rem;
  }
  .invitation_sentence h1 {
    font-size: 40px;
  }
}
@media (min-width: 800px) {
  .invitation_sentence {
    width: 50%;
    padding-top: 2rem;
  }
}
@media (min-width: 900px) {
  .invitation_sentence {
    width: 50%;
    padding-top: 4rem;
  }
}
@media (min-width: 1000px) {
  .invitation_sentence {
    width: 50%;
    padding-top: 6rem;
  }
}
@media (min-width: 1260px) {
  .invitation_sentence {
    width: 50%;
    padding-top: 10rem;
  }
}

/*  */

@media (max-width: 768px) {
  .ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hamburger {
    display: block;
  }
  .hamburger span {
    display: block;
  }
}
